/* src/pages/LandingPage/style.css */

.landingPage {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.startButton {
    margin-left: 2vw;
    padding: 2.8vh 6vw;
    font-size: 6rem; /* Use relative unit for font-size */
    cursor: pointer;
    border: none;
    background-color: #0047BA;
    color: white;
    border-radius: 1.8vh;
    transition: background-color 0.3s;
}

.startButton:hover {
    background-color: #003580;
}

/* Media Queries */
@media only screen and (max-width: 768px) { /* Tablets and below */
    .startButton {
        padding: 2vh 4vw; 
        font-size: 2rem;
    }
}

@media only screen and (max-width: 480px) { /* Mobile devices */
    .startButton {
        padding: 1.5vh 3vw;
        font-size: 1.5rem;
    }
}
