.loginRegister {
    background-image: url('../../assets/LoginRegister-bg.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.formContainer {
    background: rgba(246,242,230, .5);
    padding: 3vh;
    border-radius: 1vh;
    width: 90%; 
    margin: 2vh;
    max-width: 400px; /* Max width to ensure it doesn't become too wide on larger screens */
}

.login, .register {
    display: flex;
    flex-direction: column;
}

.formContainer.login {
    margin: 2vh auto; /* Centering on mobile */
}

.formContainer.register {
    margin: 2vh auto; /* Centering on mobile */
}

input {
    padding: 2vh;
    margin: 1vh 0;
    border: 0.1vw solid #ccc;
    border-radius: 0.5vh;
    width: 100%; /* Take full width of parent container */
}

button {
    background-color: #333;
    color: white;
    padding: 1vh;
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
    margin-top: 1vh;
}

button:hover {
    background-color: #555;
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
    .formContainer {
        width: 30vw;
    }

    .formContainer.login {
        margin-right: 66vw;
        margin-left: 22vw;
    }

    .formContainer.register {
        position: absolute;
        right: 14vw;
        left: 67vw;
        width: 15vw;
    }
}
/* Media query for larger screens */
@media screen and (max-width: 768px) {
    .formContainer {
        background: rgba(246,242,230, 1);
        flex-direction: column;
    }
    .loginRegister{
        flex-direction: column;
    }
}